* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.header-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F7FDFD;
  width:100%;

}

.container {
  display: flex;
  height: 70px;
  width: 100%;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #D9D9D9;
}

.left, .center, .right {
  display: flex;
  align-items: center;

}

.left p {
  color: transparent;
  background: linear-gradient(90deg, #9CE2E8 0%, #134D52 50%, #21868E 100%);
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 16px;
}
.center{
  width:275px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center p {
  margin: 0 10px;
  cursor: pointer;
  color: #999999;
  font-size: 14px;
}

.center p.active {
  color: #0A0A0A; 
  border-bottom: 1px solid var(--Color-Primary-Primary, #3C97AF); 
  font-size: 14px;
  font-weight: bold;
}

.right{
  display: flex;
  justify-content:space-between;
  align-items:center;
  width:350px;
}

.right input {
  padding: 5px 30px 5px 33px; 
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 220px;
  outline:none;
  box-shadow: 0px 2px 8px 0px #3C97AF14;
  border:none;
  border-radius:16px;
  height:33px;
}

.search-container {
  position: relative;
  gap:10px;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  pointer-events: none; 
}

.Notifications{
  width:45px;
  height: 45px;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  display: flex;
  justify-content:center;
  align-items: center;
  box-shadow: 1px 2px 8px 0px #21868E36;

}

.Notifications1{

  width:24px;
  height: 24px;
}

.alert{
  position: absolute;
  background-color: #5A9BD8;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  left: 32px;
  top:0;
}

.Notifications-popup {
  display: flex;
  flex-direction: column;

  position: absolute;
  top: 60px;

  background-color: white;
  border: 1px solid #ddd;
  padding: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1000;
}



